//$Id
/**
 *  @file
 *  Filename:   twitter_db.css
 *  Author  :   Dhavyd@dhavyd.se
 *  Date    :   Mars 8, 2012
 *
 */


#twitter-db {

  .tweets {
    padding: 0;
    
    .tweet {
      display: block;
      font-size: 1em;
      margin: 5px 0;

    }


  }

  
}


